html, body {font-family:Helvetica, sans-serif; background-color:#fff; margin:0px; padding:0px;}

/*

grey: #edeeee;
green: #c1ca66;
orange: #f78b0e;
blue: #3589a4;

*/
 .panel-width { 
  padding: 2px 2px 2px 2px;
}
 #vhcb .panel { margin-bottom:2px; }
 #vhcb .panel-heading{ padding: 5px 5px 1px 5px }
 #vhcb .panel-body{ padding: 10px 15px 0px 15px }

.MEBackground {
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}

.MEPopup {
    background-color: #FFFFFF;
    border-width: 0px;
    border-style: solid;
    border-color: black;
    padding-top: 0px;
    padding-left: 0px;
    width: 750px;
    height: 600px;
}
 /*.legend {
    display: block;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border: none;
}*/
 .fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

 .legend {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
/*.fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border: 2px groove threedface;
}*/
	a { color:#3589a4; text-decoration:none;}
	a:link { color:#3589a4; text-decoration:none;}
	a:visited { color:#3589a4; text-decoration:none;}
	a:hover { color:#f78b0e; text-decoration:underline; }

	/* -- Headings -- */
	h1 {font-family:"Helvetica Neue Light", Helvetica, sans-serif; font-size:2.4em; line-height:1.4em; font-weight:lighter; color:#777777;}
	h2 {font-family:"Helvetica Neue Light", Helvetica, sans-serif; font-size:2em; font-weight:lighter; color:#c1ca66;}
	h3 {font-family:Helvetica, sans-serif; font-size:1.3em; line-height:1.1em; height:auto; color:#999; font-weight:bold;}
	h4 {}
	h5 {}
	h6 {}
	
	/* -- Misc Block elements -- */
	p {line-height:auto;}
	ul {}
	ol {}
	dl {}
	li {list-style:none;}
	
	/* -- Misc Inline elements -- */
	img {}
	
	em {font-style:italic;}
	strong {font-weight:bold;}
	
	input {border:1px solid #b1b1b1;}
	label {font-family:Helvetica, sans-serif; font-weight:bold; color:#999;font-size:12px;}
	
	/* == Footer == */
#footer {clear:both; padding:8px 0 8px 0; font-family:Helvetica, sans-serif; font-weight:lighter; color:#999;font-size:10px;}
#footer ul {}
#footer ul li {list-style:none; display: inline;}
#footer ul li a {color:#333;}






#secondary {font-family:Helvetica, sans-serif; font-weight:bold; color:#999;font-size:12px; float:right;}
#secondary ul {}
#secondary ul li {list-style:none; display:inline; padding-left:20px;}
#secondary ul li a {}


.small-text {font-family:Helvetica, sans-serif; color:#666;font-size:10px; width:auto;}

.btn-blue {height:21px; width:auto; margin-left:40px; padding:4px; background-image:url(../images/btn-bg.gif); background-repeat:repeat-x; font-family:Helvetica, sans-serif; font-weight:bold; color:#fff;font-size:12px;}